@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    color: #323232;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    background-color: #fff;
    width: 60%;
    min-width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

h1{
    font-weight: 700;
    padding: 0.8rem;
    font-size: 5rem;
}

h5{
    line-height: 1.5;
    padding: 0.8rem;
    font-size: 18px;
}

p{
    line-height: 1.5;
    padding: 0.8rem;
    font-size: 18px;
}

.container a{
    display: inline-block;
    background-color: #323232;
    color: #fff;
    padding: 0.7rem 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.container a:hover{
    background-color: #222;
}

.blank, .blank-2{
    width: 100%;
    min-height: 15vh;
    background-color: #323232;
}

.second{
    background-image: url(assets/background.jpg);
    background-attachment: fixed;
    height: 950px;
    flex-direction: row;
    gap: 2.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    min-width: 400px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.card:hover{
    transform: scale(1.1);
}

.card .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .info img{
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 0.7rem;
}

.card .info h3{
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.card a{
    margin-bottom: 1.5rem;
    width: 70%;
}

